html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    overflow-x: hidden;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    position: relative;
}

/* Плавность прокрутки */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}